@import "./variables.scss";
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  

@mixin mobileLarge { @media (max-width: #{$tablet-width - 1px}) {     
    @content;   
   } 
}

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
    } 
}  
  
@mixin desktop {   @media (min-width: #{$desktop-width}) {     
    @content;  
    } 
}

.register-thumb {
    margin-top: 200px;
}

.use-location-btn{
    margin-top: 36px;
    width: 80%;
    border: 2px solid $primary;
    padding: 16px 24px;
    border-radius: 9px;
}
a.choose-location-link{
    text-decoration: underline;
    margin-top: 60px;
    font-size: 20px;
}

.mt-60{
    margin-top: 60px;
}
.text-dark {
    color: $top-icon-color;
}
.text-grey{
    color: $grey-40;
}

.fw-bold{
    font-weight: bold;
}
.fw-semibold{
    font-weight: 600;
}
.font-sm{
    font-size: 16px;
}
.font-xs{
    font-size: 12px;
}

.font-20{
    font-size: 20px;
}

.bg-main{
    background-color: #5470f2;
}
.bg-disabled {
    background-color: rgba(144, 144, 144, 1);
}
.rounded-200{
    border-radius: 200px;

}

.rounded-md{
    border-radius: 20px;
}


.text-main{
    color: #5470f2;
}

.text-disabled {
   color: #909090;
}
.rounded-button{
    border-radius: 30px;
}

.border-danger{
    border:2px solid #eb5757;
    
}
#register{
    margin-top: 24px;
    padding-left: 10%;
    padding-right: 10%;
}

.outline-none {
    outline: none!important;
}
.border-none {
    border: none !important;
}

.border-main{
    border: 2px solid #5470f2;
}

.content-rounded-top {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.shadowed-button {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);

}

.min-h-100v{
    min-height: 100vh;
}

.max-h-100v{
    max-height: 100vh;
}
.page{
    margin-bottom: 100px;
}
.bordered-input-group{
    border: 2px solid #909090;
}

.book-car-btn{
    &:hover{
        background-color: #5440f2;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    z-index: 10;
    position: absolute;
    opacity: 0;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    z-index: 10;
    position: absolute;
    opacity: 0;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

input[type="time"]::-webkit-time-picker-indicator {
    color: rgba(0, 0, 0, 0);
    position: relative;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}


.form-input-group {
    position: relative;
    .flag{
        width: 32px;
        height: 32px;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 16px;
    }
    .phone-input {
        padding: 16px 32px 16px 80px;
        border: none;
        background-color: $grey-05;
        border-radius: 12px;
    }
    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        
        border-top: 15px solid rgba($color: #000000, $alpha: .15);
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 56px;
        // background-color: ;
      }
    .input-icon{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 16px;
        width: fit-content;
    }
}

.form-submit-btn{
    background-color: $primary;
    color: #fff;
    margin-top: 24px;
    border-radius: 12px;
    text-align: center;
}

form .divider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    span{
        color: $grey-20;
    }
    .line{
        background-color: $grey-20;
        width: 45%;
        height: 2px;
    }
}

form .button {
    background-color: #f0f4f8;
    padding: 10px 48px; 
    margin-bottom: 16px;
    border-radius: 12px;
}

.to-login {
    p > a{
        font-weight: 700;
        color: $primary;
    }
}

.nav-link-text {
    :hover{
        color: $primary;
    }
    :active{
        color: $primary;
    }
}

.management{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    .management-item{
        background-color: #5470f2;
        width: 50%;
        margin: 0 16px;
        border-radius: 20px;
        padding: 16px;
    }
}

.car-item-card{
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba($color: #000, $alpha:.1);
    margin: 16px 0;
    .car-item-image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        
    }
    .book-car-btn {
      background-color: #5470f2;
      border-radius: 30px;
      padding: 8px 16px;
    }
  }

.page-header{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-top: 32px;
    padding-bottom: 16px;
    box-shadow: 0 2px 8px 0 rgba($color: #000, $alpha:.2);
    .page-header__back-btn{
    margin-left: 12px;
    width: 36px;
    height: 36px;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
    }

}

.status-button-disabled{
padding-top: 10px;
padding-bottom: 10px;
}

.card-detail-item{
    background-color: #f4f5f7;
    color: #ccc;
    padding: 8px 16px;
    .book-car-select{
        background-color: #f4f5f7;
        border:none;
        outline: none;
        
    }
}

.absolute-center{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.car-detail-item-icon {
    top:50%;
    transform: translateY(-50%);
    right: 16px;
}
.booking-detail-icon{
    position: absolute;
    right: 8px;
}

select{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url("../resource/img/chevron-down.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

label.book-car-detail-label:after {
    // background-image: ;
    display:inline-block;
    box-sizing:border-box;
    color:#ccc;
    
    margin-left:-17px;   /* remove the damn :after space */
    pointer-events:none; /* let the click pass trough */
}

.tab-title{
    color: #aaa;
    padding: 10px 12px;
    width: 90%;
    cursor: pointer;
}

.tab-title.tab-active{
    color: #fff;
    background-color: #5470f2;
}

.travel-history-item {
    margin: 8px 0;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.travel-car-image{
    width:48px;
    height:48px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.travel-car-name{
    font-weight: bold;
}

//box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


.search-car-input{
    border-radius: 200px;
    padding: 12px 16px 12px 48px;
}
.search-car-input-icon {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:32px;
}


.user-info {
    margin-top: 32px;
    .user-avatar{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;
    }

}
.menu-item{
    padding: 12px 24px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .menu-item-icon {
        margin-right: 24px;
    }

}

.user-avatar{
    box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.2);

    .update-avatar-button {
        width: 24px;
        height: 24px;
        top: 56px;
        left: 56px;
        z-index: 1000;
    }
}

.ant-modal{
    @include mobileLarge {
        margin: 0!important;
        width: 100vw;
        max-width: 100vw;
    }
}
.modal-dialog {
    position: absolute!important;
    width: 100%!important;
     margin: 0;
    pointer-events: none;
    bottom: 0;
    .modal-content {
        border-radius: 16px 16px 0 0;
    }
}
  /* Add more styling as needed for the header, content, and buttons */
  