// Elements

// Blockquotes
blockquote,
blockquote p {
  line-height: 1.25rem;
}
blockquote {
  margin: 0 0 20px;
  padding: 0.5rem 1.25rem;
  cite {
    display: block;
    &::before {
      content: '\2014 \0020';
    }
  }
}

div, form, ul, section, li, fieldset {
  position: relative;
}

div.full, section.full {
  width: 100%;
}

// __Lists__

// ul,
// ol {
//   margin-bottom: 20px;
// }
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
}

sup {
  vertical-align: super;
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: default;
}

.draggable {
  cursor: move;
}

// svg {
//   height: 1rem;
//   width: 1rem;
// }