/* Add these styles to your CSS file or styling solution */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    justify-content: center;
  }
  
  .modal {
    background: #fff;
    width: 100%;
    max-width: 600px; /* Set a maximum width for the modal */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Add more styling as needed for the header, content, and buttons */
  